# heading
## heading
### heading

- nik
 - **k**
 - *n*
- ***k*** 
- n

### python introduction
- python3
- python can be used as functional programing
- python can be used as scripting programing
- python initially designed by **guido van rossum**

In [6]:
# Input and Output Function
# Output Function
print("Hello world")
print("welcometo python programing")

Hello world
welcometo python programing

In [17]:
print("markdown cell",end = ' ')
print("code cell")

markdown cell code cell

In [20]:
# Input Function
a=10
print (a)

10

In [21]:
a=10
print(a)

10

In [22]:
a=b=c=100
print(a,b,c)

100 100 100

In [26]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [28]:
x=1.25
y=1.45E+23
z=float(10)
x=1+2j
print(x.real)
print(x.imag)
print(x.conjugate())
c=complex(3,4)
print(c)
c1=3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

1.0
2.0
(1-2j)
(3+4j)
(9+12j)
(-3-2j)
(-17+51j)

In [29]:
a=1
b=1.2
c="nikki k"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [32]:
# Input Function
a=int(input('enter the number '))
b=int(input('enter the number '))
c=a+b
print(c)

enter the number 10
enter the number 20
30

In [34]:
#length of variable
name="nikki k"
print(len(name))

7

In [38]:
b=12345
print(type(b))
print(len(str(b)))

<class 'int'>
5

# operations
## //floor division
## 2**3=8

In [39]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

13
7
30
3.3333333333333335
3
1000

# relationalops:
<,<=,>,>=,==,!=

In [40]:
a=20
b=10

# logical ops
## and or not

In [41]:
x=10
print(x>=20 and x<=10)
print(x>=20 or x<=10)
print(not x)

False
True
False

# membership operators
## in,not in

In [44]:
name="nikki k"
print('k' in name)
print('k' not in name)

True
False

# identity operator
## is,isnot

In [45]:
a=10
b=20
print(a is b)
print(a is not b)

False
True

# **special ops**
## repiton ops
## [] slice op
## [start:stop:step]
## range(start,stop,step)

In [ ]:
# control statements
## if,else
## syntax:
   if condition:
    st1
    st2
else:
    st3
    st4
    st5#end of if-else

In [50]:
a=0
if(a%2==0):
    print("even")
else:
    print("odd")

even

In [51]:
a=10
if(a>0):
    print("it is positive")
else:
    print("it is negative")

it is positive

In [52]:
a=10
b=20
if(a>b):
    print("a is greater")
else:
    print("b is greater")

b is greater

In [55]:
a=10
b=30
c=40
if(a>b and a>c):
     print("a is greater")
elif(b>a and b>c):
    print("b is greater")
else:
    print("c is greater")

c is greater